/* responsive for small device */

@media screen and (max-width: 576px) {
    *{
        margin: 0;
        padding: 0;
        max-width: 100%;
    }
    header{
        border: none;
    }
    /* Navbar */
    .logo-container,
    .navlink-container,
    .btn-nav
    {
        display: none;
    }   
    #mobile-logo, #burger{
        display: block;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        border-bottom: 0.5px solid rgb(254, 163, 1);
        padding: 12px 16px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    /* banner */
    .banner{
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 20px 10px;
    }
    .content{
        text-align: center;
    }
    .banner img{
        max-width: 336.58px;
    }
    .btn-primary{
        margin-top: 18px;
        font-size: 1rem;
        width: 35%;
    }
/* curriculam section */
    .curriculum-card-container{
        flex-direction: column;
        width: 90%;
        margin: 20 auto;
        justify-content: space-between;
        align-items: center ;
        gap: 12px;
    }
.curriculum{
    border: none;
}
.curriculum h3{
    font-weight: 700;
    font-size: 2.875rem;
    margin-top: 45px;
}
.txt-class p{
    margin-bottom: 25px;
}
.btn-special{
    display: none;
}

/* story section */
.mobile-hide{
    display: none;
}

.story-card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, auto);
    width: 90%;
    margin: 60px auto 20px auto;
}
.btn-position{
    position: relative;
    top: -1.5rem;
    left: 1.7rem;
}
.button2{
    font-size: 0.5rem;
}
.button3{
    font-size: 0.5rem;
}
.story-card h4{
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0 0 20px 22px;
}

/* footer */
.footer-container{
    max-width: 357px;
    flex-direction: column;
    gap: 32px;
}
.logo-name h3{
    font-weight: 700;
    font-size: 2rem;
}
.logo-name-content p{
    font-weight: 500;
    font-size: 1rem;
    margin-top: 23.88px;
    margin-left: 7px;
}
.footer-links h4{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 27.57px;
    position: relative;
    right: 30px;
}
.footer-links-item{
    margin-left: 10px;
}
.socials{
    margin-left: 10px;
}
.socials-item{
    margin-top: 37px;
}
}
